*{
    margin: 0;
    padding: 0;
}

.all{ 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.header-container{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.header-container .head{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-part h2{
    font-size: 45;
    font-weight: 800;
}
.logo-part span{
    color: #FD6E0A;
}
.menu-part{
    width: 300px;
}
.head .menu-part ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .menu-part ul li{
    list-style-type: none;
}

.head .menu-part ul li a{
    text-decoration: none;
    color: #474747;
}

.btn{
   background-color: #FD6E0A; 
   padding: 10px 30px;
   color: white;
   border-radius: 5px;
   border: none;
}