*{
    margin: 0;
    padding: 0;
}

.all{ 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.header-container{
    background-color: #FFF8F3;
    background: url(images/developer.png),url(images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding-top: 50px;
}

.header-container .head{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-part h2{
    font-size: 45;
    font-weight: 800;
}
.logo-part span{
    color: #FD6E0A;
}
.menu-part{
    width: 300px;
}
.head .menu-part ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .menu-part ul li{
    list-style-type: none;
}

.head .menu-part ul li a{
    text-decoration: none;
    color: #474747;
}

.btn{
   background-color: #FD6E0A; 
   padding: 10px 30px;
   color: white;
   border-radius: 5px;
   border: none;
}

.header-container #banner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#banner .hero-part{
    display: flex;
    justify-content:space-between;
    margin-top: 47px;
    
    align-items: center;
}

.hero-part .contant-part h2{
    color: #474747;
    font-size: 45;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.hero-part .contant-part h1{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 30px;

}
.hero-part .contant-part p{
    margin-bottom: 2cqh;
    color: #757575;
    font-size: 16.5px;
    margin-bottom: 30px;
}
.hero-part .button{
    display: flex;
    gap: 30px;
}

.hero-part .img-part{
    width: 450px;
}

.hero-part .img-part img{
        height: 650px;
        width: auto;
        
}

.contact-part{
     width: 71%;
     max-width: 1140px;
     margin: 0 auto;
     background-color: #FFF8F3;
     text-align: center;
     margin-top: 70px;
}

.contact-me{
    padding: 120px;
}

.contact-me .about-me{
    width: 800px;
    margin: 0 auto;
}
.contact-me .about-me h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact-me .about-me p{
    color: #757575;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.info-part{
    display: flex;
    justify-content: space-around;
}
.something{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.something .do-anything{
    padding: 70px;
}
.something .do-anything h3{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.something .do-anything p{
    width: 825px;
    margin-top: 30px;
    font: 18px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    
}

.card-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.card-container .all-card{
    display: flex;
    gap: 24px;
    background-color: #fff;
}

.card-container .all-card .card{
    width: 265px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000002d;
    border-radius: 5px;
}

.card-container .all-card .card img{
    margin-bottom: 30px;
}

.card-container .all-card .card h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.card-container .all-card .card p{
    line-height: 30px;
    font-size: 16px;
    width: 200px;

}
.Resume-part{
    width: 71%;
    max-width: 1140px;
    margin: 130px auto;
}

.Resume-part .main-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.Resume-part .Education-Experience{
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.education{
    /* max-width: 511px; */
}
.Resume-part .Education-Experience h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.Resume-part .Education-Experience h2{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.Resume-part .Education-Experience h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.Resume-part .Education-Experience p{
    margin-right: 47px;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

hr{
    margin: 30px 0;
}